#img {
    width: 30px;
    height: 30px;
    background-color: white;

}

body {
    background-color: rgba(0, 0, 0, 0.792);
}

.imagem {
    width: 50vh;
    height: 50vh;
    margin: 10vh;
    border-radius: 25%;
}

.container {
    background-color: rgba(0, 0, 0, 0.351);
    margin-top: 10vh;
    border-radius: 25px;
}



#cabecalho {
    background-image: url('imagens/mis.jpg');
    height: 50vh;
    color: white;
}

#cabecalho>div {
    align-items: center;
}

.d-lg-flex {
    color: white;
}

nav>div,
a {
    color: white;
    border-color: white;
}

.mensagem>div {
    margin: 10vh;
}

.mensagem {
    padding: 20px;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.792);
    color: white;
}



.d-flex {
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.351);
    color: white;
}




footer {
    margin-top: 20vh;
}

/*Smartphone Landscape(virado)*/
@media only screen and (max-width: 576px) {
    .imagem {
        width: 40vh;
        height: 40vh;
        margin: 10vh;
        border-radius: 25%;
    }
}



/*Tablet Landscape( de lado)*/
@media (max-width: 992px) {
    .imagem {
        width: 35vh;
        height: 35vh;
        margin: 10vh;
        border-radius: 25%;
    }

}

/*Pc                       */
@media(max-width: 500px) {
    .imagem {
        width: 26vh;
        height: 26vh;
        margin: 10vh;
        border-radius: 25%;
    }
}

.form-control {
    background-color: rgba(255, 255, 255, 0.778);
    color: rgb(0, 0, 0);
}

.form-control1 {
    background-color: rgba(255, 255, 255, 0.169);
    color: white;
}

#map {
    height: 200px;
    width: 100%;
    color: black;
    border-radius: 25px;
}

.footer {
    padding-bottom: 50px;
}

/*tabelaaaaaa*/
table {
    width: 100%;
}

th,
td {
    border: 1px solid black;
    color: white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f256;
}

td {
    background-color: #dddddd3c;
}

.tabela {
    border-radius: 25px;
    padding: 20px;
}
.delete{
    display: flex; /* Ativa o layout flexbox */
    justify-content: flex-end; /* Alinha os itens à direita */
}

.buttonImg{
    padding: 0vh 10vh;
    background-color: rgba(218, 215, 215, 0.158);
    border-radius: 25px;
}